section.hero {
    position: relative;
    background-color: var(--primary-5);
}

section.hero>.container-fluid {
    background-color: var(--primary-5);
    position: relative;
}

section.hero .browse {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 2rem;
}

section.what .what-title {
    width: 450px;
}

section.what .what-desc {
    width: 570px;
}

.start-browsing {
    border: 1px solid #fff;
    width: fit-content;
    padding: 0.3rem 2rem;
    border-radius: 25px;
    transition: 0.3s ease;
    color: #fff !important;
}

.start-browsing:hover {
    color: #000 !important;
    background-color: #fff;
}

section.probably-ads .container {
    min-height: 400px;
}
.ad-cards {
    position: relative;
}
.ad-cards .ac {
    min-width: 610px;
    min-height: 375px;
    position: absolute;
}
.ad-cards .ac {
    background-color: #fff;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 1;
    outline: 1px solid var(--primary-3);
    border-radius: 5px;
    background-image: url('https://6637851.fs1.hubspotusercontent-na1.net/hubfs/6637851/Api%20Direct%20Version%202%20Resources/Image/Api_directv.1.png');
}
.ad-cards .ac.fore {
    transform: translate(40px, 40px);
}
.ad-cards .ac.back {
    transform: rotate(-4.02deg);
    background-color: #cccccc;
}

section.probably-ads .ad-card-right {
    width: 350px;
}

div.not-got-hold {
    position: relative;
}

img.not-got-dots.left {
    position: absolute;
    left: -40px;
    top: -120px;
}

img.not-got-dots.right {
    position: absolute;
    right: -40px;
    top: -120px;
}

img.not-got-dots.bottom {
    position: absolute;
    right: 0;
    bottom: -120px;
    transform: rotate(180deg);
}

div.not-got {
    position: relative;
    border-radius: 32px;
    border: 2px solid #cccccc;
    padding-top: 6rem;
    padding-bottom: 6rem;
    margin-bottom: 6rem;
}

div.not-got .form-hold {
    width: 452px;
}